/* regole generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* regole di debug */
[class*="col-"] {
  min-height: 200px;
  background-color: pink;
  border: solid 1px  #000;
  text-align: center;
}

/* padding */
.resizing {
  padding: 6px;
}

 .col-6 .row .col-2,
 .col-6 .row .col-8,
 .col-6 .row .col-6 {
   border:2px solid white;
   background-color: brown;
 }
