/* regole generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* regole di debug */
[class*="col-"] {
  min-height: 200px;
  background-color: pink;
  border: solid 1px  #000;
  position: relative;
}

/* padding nested */
.resizing {
  padding: 6px;
}

/* bordi nested */
.col-6 .row .col-2,
.col-6 .row .col-8,
.col-6 .row .col-6 {
   border:2px solid white;
   background-color: #f07f80;
 }


.row .col-1,
.row .col-2,
.row .col-6,
.row .col-8,
.row .col-12 {
   position: relative;
 }

/* centratura p */
p {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50% ,-50%);
 }
